* {
    padding: 0;
    margin: 0;
    max-width: 100%;
    box-sizing: border-box;
}

#page-body {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    background-color: rgb(31, 153, 153);
    background-image: linear-gradient(25deg, rgba(18, 126, 214,0.7), rgba(18, 126, 214,0.7)),url(https://res.cloudinary.com/dfryv6mrd/image/upload/v1649207537/advanced_computer_science_msc_ignai6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    padding: 7px;

}

#page-header {
    color: black;
    margin: 20px;
}

#form-container {
    margin: 0 auto;
    width: 80%;
    padding: 30px;
    background-color: #126ed6;
    color: rgba(0, 0, 0, 0.877);
    text-align: left;
    border-radius: 7px;
} 

input[type="text"], input[type="email"] {
    width: 100%;
    margin-top: 5px;
    padding: 5px 10px;
}

select, textarea, button {
    width: 100%;
    margin-top: 5px;
    padding: 5px 10px;
}

.input-box {
    margin-bottom: 5px;
}

label {
    font-size: 18px;
}

p {
    font-size: 18px;
    margin: 5px;
}
